@font-face {
    font-family: 'Glacier';
    src: url('Glacier-Bold.eot');
    src: url('Glacier-Bold.eot?#iefix') format('embedded-opentype'),
        url('Glacier-Bold.woff2') format('woff2'),
        url('Glacier-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glacier';
    src: url('Glacier-Regular.eot');
    src: url('Glacier-Regular.eot?#iefix') format('embedded-opentype'),
        url('Glacier-Regular.woff2') format('woff2'),
        url('Glacier-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glacier';
    src: url('Glacier-Black.eot');
    src: url('Glacier-Black.eot?#iefix') format('embedded-opentype'),
        url('Glacier-Black.woff2') format('woff2'),
        url('Glacier-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

